In [50]:
import pandas as pd
import numpy as np
import re
import tensorflow as tf
import keras
import seaborn as sb
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data = pd.read_csv("D:\Car Prices Predictor\car.csv")
data.head()

<>:1: SyntaxWarning: invalid escape sequence '\C'
<>:1: SyntaxWarning: invalid escape sequence '\C'
C:\Users\Asus\AppData\Local\Temp\ipykernel_9400\915330941.py:1: SyntaxWarning: invalid escape sequence '\C'
  data = pd.read_csv("D:\Car Prices Predictor\car.csv")

,Name,Price,Color,Mileage,Make,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,Power Steering,Remote Control,Item URL
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/kia/sportage/62...
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/chery/Arrizo-5/...
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/bmw/x1/6254123

In [5]:
x = set(data['Model'])

In [6]:
dict1 = {}
for i,n in enumerate(x):
    dict1[n] = i

In [7]:
data['car_model_classes'] = data['Model'].map(dict1)

In [8]:
data.head()

,Name,Price,Color,Mileage,Make,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,Power Steering,Remote Control,Item URL,car_model_classes
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/chery/Arrizo-5/...,661
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274

In [10]:
x2 = set(data['Make'])
dict2 = {}
for n,i in enumerate(x2):
    dict2[i]=n
data['car_brand_classes'] = data['Make'].map(dict2)
data.head()

,Name,Price,Color,Mileage,Make,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,Power Steering,Remote Control,Item URL,car_model_classes,car_brand_classes
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/chery/Arrizo-5/...,661,7
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82

In [11]:
x3 = set(data['Color'])
dict3 = {}
for n,i in enumerate(x3):
    dict3[i]=n
data['color_classes'] = data['Color'].map(dict3)
data.head()

,Name,Price,Color,Mileage,Make,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,Power Steering,Remote Control,Item URL,car_model_classes,car_brand_classes,color_classes
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3,9
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/chery/Arrizo-5/...,661,7,10
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24,5
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14,17
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82,15

In [13]:
data = data.rename(columns={'Make':'Brand'})
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,Power Steering,Remote Control,Item URL,car_model_classes,car_brand_classes,color_classes
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3,9
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/chery/Arrizo-5/...,661,7,10
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24,5
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14,17
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82,15

In [14]:
x4 = set(data['Automatic Transmission'])
dict4 = {'Yes':1,
          'No':0}
data['automatic_classes'] = data['Automatic Transmission'].map(dict4)
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,Power Steering,Remote Control,Item URL,car_model_classes,car_brand_classes,color_classes,automatic_classes
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3,9,1
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/chery/Arrizo-5/...,661,7,10,1
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24,5,1
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14,17,1
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82,15,1

In [15]:
x5 = set(data['Air Conditioner'])
dict5 = {'Yes':1,
          'No':0}
data['air_conditioner_classes'] = data['Air Conditioner'].map(dict5)
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,Power Steering,Remote Control,Item URL,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3,9,1,1
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/chery/Arrizo-5/...,661,7,10,1,1
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24,5,1,1
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14,17,1,1
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82,15,1,1

In [16]:
x6 = set(data['Power Steering'])
dict6 = {'Yes':1,
          'No':0}
data['power_steering_classes'] = data['Power Steering'].map(dict6)
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,Power Steering,Remote Control,Item URL,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3,9,1,1,1
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/chery/Arrizo-5/...,661,7,10,1,1,1
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24,5,1,1,1
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14,17,1,1,1
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82,15,1,1,1

In [17]:
x7 = set(data['Remote Control'])
dict7 = {'Yes':1,
          'No':0}
data['remote_control_classes'] = data['Remote Control'].map(dict7)
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,Power Steering,Remote Control,Item URL,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3,9,1,1,1,1
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/chery/Arrizo-5/...,661,7,10,1,1,1,1
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24,5,1,1,1,1
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14,17,1,1,1,1
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,Yes,Yes,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82,15,1,1,1,1

In [18]:
def extract_year(y):
    match = re.search(r'\d{4}',y)
    if match : 
        return match.group()
    else :
        return 0

data['year'] = data['Name'].apply(extract_year)
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,...,Remote Control,Item URL,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,year
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,...,Yes,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3,9,1,1,1,1,2024
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,...,Yes,https://eg.hatla2ee.com/en/car/chery/Arrizo-5/...,661,7,10,1,1,1,1,2022
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,...,Yes,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24,5,1,1,1,1,2021
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,...,Yes,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14,17,1,1,1,1,2021
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,...,Yes,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82,15,1,1,1,1,2018

In [19]:
def extract_miles(x):
    if isinstance(x,str):
        x = x.split()[0]
    return x
data['miles'] = data['Mileage'].apply(lambda x:extract_miles(x))
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,...,Item URL,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,year,miles
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3,9,1,1,1,1,2024,300
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/chery/Arrizo-5/...,661,7,10,1,1,1,1,2022,"86,000"
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24,5,1,1,1,1,2021,"131,000"
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14,17,1,1,1,1,2021,"125,000"
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82,15,1,1,1,1,2018,"84,000"

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33559 entries, 0 to 33558
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     33559 non-null  object
 1   Price                    32625 non-null  object
 2   Color                    33559 non-null  object
 3   Mileage                  31440 non-null  object
 4   Brand                    33559 non-null  object
 5   Model                    33559 non-null  object
 6   City                     33559 non-null  object
 7   Date Displayed           33559 non-null  object
 8   Automatic Transmission   33559 non-null  object
 9   Air Conditioner          33559 non-null  object
 10  Power Steering           33559 non-null  object
 11  Remote Control           33559 non-null  object
 12  Item URL                 33559 non-null  object
 13  car_model_classes        33559 non-null  int64
 14  car_brand_classes        33559 non-null  int64
 15  color_classes            33559 non-null  int64
 16  automatic_classes        33559 non-null  int64
 17  air_conditioner_classes  33559 non-null  int64
 18  power_steering_classes   33559 non-null  int64
 19  remote_control_classes   33559 non-null  int64
 20  year                     33559 non-null  object
 21  miles                    31440 non-null  object
dtypes: int64(7), object(15)
memory usage: 5.6+ MB

In [21]:
set(data['year'])

{0,
 '1007',
 '1100',
 '1200',
 '1300',
 '1500',
 '1963',
 '1970',
 '1971',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024',
 '2105',
 '2106',
 '2107',
 '2110',
 '2111',
 '3008',
 '5008'}

In [25]:
data['Year'] = data['year'].apply(lambda x :x if int(x)>=1963 and int(x)<=2025 else np.nan)
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,...,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,year,miles,Year
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,...,186,3,9,1,1,1,1,2024,300,2024
1,Chery Arrizo 5 2022,NaN,Bronze,"86,000 Km",Chery,Arrizo 5,Nasr city,2024-02-16,Yes,Yes,...,661,7,10,1,1,1,1,2022,"86,000",2022
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,...,421,24,5,1,1,1,1,2021,"131,000",2021
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,...,236,14,17,1,1,1,1,2021,"125,000",2021
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,...,274,82,15,1,1,1,1,2018,"84,000",2018

In [26]:
set(data['Year'])

{'1963',
 '1970',
 '1971',
 '1973',
 '1974',
 '1975',
 '1976',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 '2023',
 '2024',
 nan}

In [27]:
data.isna().sum()

Name                          0
Price                       934
Color                         0
Mileage                    2119
Brand                         0
Model                         0
City                          0
Date Displayed                0
Automatic Transmission        0
Air Conditioner               0
Power Steering                0
Remote Control                0
Item URL                      0
car_model_classes             0
car_brand_classes             0
color_classes                 0
automatic_classes             0
air_conditioner_classes       0
power_steering_classes        0
remote_control_classes        0
year                          0
miles                      2119
Year                        295
dtype: int64

In [28]:
data = data.dropna()

In [29]:
data.isna().sum()

Name                       0
Price                      0
Color                      0
Mileage                    0
Brand                      0
Model                      0
City                       0
Date Displayed             0
Automatic Transmission     0
Air Conditioner            0
Power Steering             0
Remote Control             0
Item URL                   0
car_model_classes          0
car_brand_classes          0
color_classes              0
automatic_classes          0
air_conditioner_classes    0
power_steering_classes     0
remote_control_classes     0
year                       0
miles                      0
Year                       0
dtype: int64

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30835 entries, 0 to 33557
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     30835 non-null  object
 1   Price                    30835 non-null  object
 2   Color                    30835 non-null  object
 3   Mileage                  30835 non-null  object
 4   Brand                    30835 non-null  object
 5   Model                    30835 non-null  object
 6   City                     30835 non-null  object
 7   Date Displayed           30835 non-null  object
 8   Automatic Transmission   30835 non-null  object
 9   Air Conditioner          30835 non-null  object
 10  Power Steering           30835 non-null  object
 11  Remote Control           30835 non-null  object
 12  Item URL                 30835 non-null  object
 13  car_model_classes        30835 non-null  int64
 14  car_brand_classes        30835 non-null  int64
 15  color_classes            30835 non-null  int64
 16  automatic_classes        30835 non-null  int64
 17  air_conditioner_classes  30835 non-null  int64
 18  power_steering_classes   30835 non-null  int64
 19  remote_control_classes   30835 non-null  int64
 20  year                     30835 non-null  object
 21  miles                    30835 non-null  object
 22  Year                     30835 non-null  object
dtypes: int64(7), object(16)
memory usage: 5.6+ MB

In [31]:
data['YEAR'] = data['Year'].apply(lambda x: int(x))
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30835 entries, 0 to 33557
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     30835 non-null  object
 1   Price                    30835 non-null  object
 2   Color                    30835 non-null  object
 3   Mileage                  30835 non-null  object
 4   Brand                    30835 non-null  object
 5   Model                    30835 non-null  object
 6   City                     30835 non-null  object
 7   Date Displayed           30835 non-null  object
 8   Automatic Transmission   30835 non-null  object
 9   Air Conditioner          30835 non-null  object
 10  Power Steering           30835 non-null  object
 11  Remote Control           30835 non-null  object
 12  Item URL                 30835 non-null  object
 13  car_model_classes        30835 non-null  int64
 14  car_brand_classes        30835 non-null  int64
 15  color_classes            30835 non-null  int64
 16  automatic_classes        30835 non-null  int64
 17  air_conditioner_classes  30835 non-null  int64
 18  power_steering_classes   30835 non-null  int64
 19  remote_control_classes   30835 non-null  int64
 20  year                     30835 non-null  object
 21  miles                    30835 non-null  object
 22  Year                     30835 non-null  object
 23  YEAR                     30835 non-null  int64
dtypes: int64(8), object(16)
memory usage: 5.9+ MB

In [32]:
data.drop(['year','Year'],axis=1,inplace=True)
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,...,Item URL,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,miles,YEAR
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3,9,1,1,1,1,300,2024
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24,5,1,1,1,1,"131,000",2021
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14,17,1,1,1,1,"125,000",2021
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82,15,1,1,1,1,"84,000",2018
5,Chevrolet Optra 2021,"700,000 EGP",Blue,"75,000 Km",Chevrolet,Optra,Obour City,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/chevrolet/optra...,809,52,2,1,1,1,1,"75,000",2021

In [33]:
data = data.rename(columns={'YEAR':'year'})
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,...,Item URL,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,miles,year
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3,9,1,1,1,1,300,2024
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24,5,1,1,1,1,"131,000",2021
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14,17,1,1,1,1,"125,000",2021
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82,15,1,1,1,1,"84,000",2018
5,Chevrolet Optra 2021,"700,000 EGP",Blue,"75,000 Km",Chevrolet,Optra,Obour City,2024-02-16,Yes,Yes,...,https://eg.hatla2ee.com/en/car/chevrolet/optra...,809,52,2,1,1,1,1,"75,000",2021

In [36]:
data['Price'][0]

'2,800,000 EGP'

In [37]:
data['price'] = data['Price'].apply(lambda x: x.split()[0])
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,...,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,miles,year,price
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,...,186,3,9,1,1,1,1,300,2024,"2,800,000"
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,...,421,24,5,1,1,1,1,"131,000",2021,"1,200,000"
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,...,236,14,17,1,1,1,1,"125,000",2021,"2,050,000"
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,...,274,82,15,1,1,1,1,"84,000",2018,"2,050,000"
5,Chevrolet Optra 2021,"700,000 EGP",Blue,"75,000 Km",Chevrolet,Optra,Obour City,2024-02-16,Yes,Yes,...,809,52,2,1,1,1,1,"75,000",2021,"700,000"

In [38]:
data['price11'] = data['price'].apply(lambda x: x.replace(',',''))
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,...,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,miles,year,price,price11
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,...,3,9,1,1,1,1,300,2024,"2,800,000",2800000
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,...,24,5,1,1,1,1,"131,000",2021,"1,200,000",1200000
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,...,14,17,1,1,1,1,"125,000",2021,"2,050,000",2050000
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,...,82,15,1,1,1,1,"84,000",2018,"2,050,000",2050000
5,Chevrolet Optra 2021,"700,000 EGP",Blue,"75,000 Km",Chevrolet,Optra,Obour City,2024-02-16,Yes,Yes,...,52,2,1,1,1,1,"75,000",2021,"700,000",700000

In [40]:
data.drop(['price'],axis=1,inplace=True)

In [41]:
data = data.rename(columns={'price11':'price'})
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,...,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,miles,year,price
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,...,186,3,9,1,1,1,1,300,2024,2800000
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,...,421,24,5,1,1,1,1,"131,000",2021,1200000
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,...,236,14,17,1,1,1,1,"125,000",2021,2050000
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,...,274,82,15,1,1,1,1,"84,000",2018,2050000
5,Chevrolet Optra 2021,"700,000 EGP",Blue,"75,000 Km",Chevrolet,Optra,Obour City,2024-02-16,Yes,Yes,...,809,52,2,1,1,1,1,"75,000",2021,700000

In [42]:
data['miles11'] = data['miles'].apply(lambda x: x.replace(',',''))
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,...,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,miles,year,price,miles11
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,...,3,9,1,1,1,1,300,2024,2800000,300
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,...,24,5,1,1,1,1,"131,000",2021,1200000,131000
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,...,14,17,1,1,1,1,"125,000",2021,2050000,125000
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,...,82,15,1,1,1,1,"84,000",2018,2050000,84000
5,Chevrolet Optra 2021,"700,000 EGP",Blue,"75,000 Km",Chevrolet,Optra,Obour City,2024-02-16,Yes,Yes,...,52,2,1,1,1,1,"75,000",2021,700000,75000

In [43]:
data.drop(['miles'],axis=1,inplace=True)
data = data.rename(columns={'miles11':'miles'})
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,...,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,year,price,miles
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,...,186,3,9,1,1,1,1,2024,2800000,300
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,...,421,24,5,1,1,1,1,2021,1200000,131000
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,...,236,14,17,1,1,1,1,2021,2050000,125000
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,...,274,82,15,1,1,1,1,2018,2050000,84000
5,Chevrolet Optra 2021,"700,000 EGP",Blue,"75,000 Km",Chevrolet,Optra,Obour City,2024-02-16,Yes,Yes,...,809,52,2,1,1,1,1,2021,700000,75000

In [120]:
list(set(data['Model']))

['M70',
 'A30 Shine',
 'Lobo',
 'A4',
 'E 350',
 'DS3',
 '250',
 'Cerato Koup',
 'Corona',
 'Pathfinder',
 'Durango',
 '3 Series',
 'Toledo',
 'Polo',
 'X5 M',
 'S2',
 '7',
 'S 320',
 'Chery QQ',
 'X3 Pro',
 'C30',
 'T-Roc',
 'Kamiq',
 'X3 M',
 'ZS',
 '605',
 'DX3',
 'Veryca',
 'Taurus',
 'Charmant',
 '530',
 'Jetta',
 'Favorit',
 'MZ 40',
 'Accent HCI',
 'X40',
 'Golf 7',
 '307',
 'Eclipse',
 'Grand i10',
 'B 200',
 'GLC 300',
 'X25',
 '1 Series',
 'Eos',
 '320',
 'RX5 Plus',
 'Soul',
 'M11',
 'Golf 2',
 'C 300',
 '545',
 'Lancer Puma',
 'E 220',
 'C31',
 'IX1',
 'Attrage',
 'Lancer Crystala',
 'Mondeo',
 'Jimny',
 'Waja',
 'Rodeo',
 'Pajero',
 'Aveo',
 'Eado',
 'A620',
 'Clio',
 'Velar',
 'Regata',
 'Emgrand 7',
 'S60',
 'Model X',
 'S4',
 'Altea',
 'Territory',
 'Tiggo 7 pro max',
 'Haima 3',
 'Cerato',
 'GLC 200',
 'Range Rover',
 'Espero',
 '460',
 'Ex 7',
 'Mini',
 'Indigo',
 'A5',
 'Ax',
 'Dashing',
 'Ck2',
 'Bayon',
 'B30',
 'Punto',
 'LX 570',
 'Hilux',
 'V3',
 'E Golf',
 'C 200 AMG',
 'Partner',
 'Rav 4',
 'A3',
 'Dargo',
 'Grand C4 Spacetourer',
 'Persona',
 'EQE',
 'E 200 AMG',
 '505',
 '335',
 'Multivan',
 'ASX',
 '620',
 'E 320',
 'Convertible',
 'Journey',
 'GLE 350',
 'Elantra Coupe',
 'Golf 8',
 'Octavia',
 '528',
 'Tiggo',
 'Flyer',
 'CLS Class',
 'H2',
 'Spark EV',
 'V60',
 'Ertiga',
 'Symbol',
 'Country man',
 'E 53 AMG',
 'Gen 3',
 'Elantra AD',
 'XV',
 'Discovery sport',
 'Fabia',
 'Foreman',
 'CLA Class',
 'S 500',
 'Ritmo',
 'Aurion',
 'Avante',
 'Veloster',
 'Song Plus',
 'A 140',
 'S3',
 'S 450',
 'Racer',
 'Siena',
 'RV 1',
 'Nubira 2',
 'Dyna',
 'Cruze',
 'Xsara',
 'Prius',
 'Ds5',
 'Naughty',
 'Taycan',
 'GLC 200 AMG Imported',
 'Seltos',
 'Tercel',
 'Datsun',
 'Elantra',
 'Flying Spur',
 'Cielo',
 'HS',
 'C5',
 'Creta SU2',
 'Envoy',
 'Escape',
 'Turan',
 '3',
 '318',
 'Passat',
 'Dogan',
 '125',
 'Sportage',
 '116',
 'Ciaz',
 'Terios',
 'Yaris',
 'Rx5',
 'Felicia',
 'Bora',
 'G3',
 'LEAF',
 'C 230',
 'C4 Grand Picasso',
 'Charger',
 'Fusion',
 'Caddy',
 'Doblo',
 '520',
 'V 60',
 'Galena',
 '228',
 'Scenic',
 'XC60',
 '2008',
 '308 sw',
 'Getz',
 'Grandis',
 'Octavia A7',
 'M3',
 'CLA 200',
 '508',
 'D max',
 'Peri',
 'Accord',
 'C 240',
 'Alto',
 'Shuma',
 'Matrix',
 'N5',
 'Rush',
 'S40',
 'N200',
 '500C',
 'Glory',
 'RX',
 'Elantra MD',
 'Tucson Turbo GDI',
 '929',
 'Tiggo 3',
 'ID 6',
 'T5 evo',
 'Berlingo',
 'Murano',
 'Octavia A4',
 '420',
 'Arona',
 'Florida',
 'Commander',
 '323',
 'Clubman',
 'Cooper Paceman',
 'Matiz',
 'Spark',
 'Fortuner',
 '232',
 'E 250',
 'Innova',
 'Explorer',
 'Spectra',
 'Envy',
 'Stratus',
 'Range Rover Sport',
 'GLE',
 'C 280',
 'C 250',
 'X4',
 'Van',
 'ENS1',
 '360',
 'Frontera',
 'Leon',
 'Trax',
 'K3',
 'A 180',
 'X1',
 'X90',
 '9',
 'Qin Pro',
 'Torres',
 'T-Series',
 'Octavia A8',
 'J2',
 'Swift',
 'Captur',
 '206',
 'A1',
 'Renegade',
 'New Star',
 'A 160',
 'Forte',
 '207',
 'Q3',
 'Rapid',
 'Avalanche',
 'DX5',
 'L3',
 'Microbus',
 'S80',
 'Tiggo 4',
 'Gen 2',
 'X70 Plus',
 'A 45 AMG',
 'Gazelle',
 'Sorento',
 '518',
 'Grand Cherokee',
 'Oka',
 'Cherokee',
 'Royal',
 'Materia',
 'Altima',
 'ideal',
 'EQS',
 'Solaris',
 'A 10',
 '500',
 '131',
 '350',
 '340',
 'Pacifica',
 'IX 35',
 'Neon',
 'I10',
 'Sonata',
 'Haima 1',
 'Aeolus A30',
 'Lancer',
 'Rapide S',
 'Dart',
 'Creta Grand',
 'Golf 6',
 'FRV Cross',
 '80',
 'Civic',
 'Fiorino',
 'Transporter',
 'Q2',
 'Visto',
 'C 200',
 'L300',
 'C3 Picasso',
 '2',
 '25',
 'Palio',
 'Scorpio',
 'Malibu',
 '750',
 'Maruti',
 'Grand Cerato',
 'Caprice',
 'Roomster',
 'Preve',
 'John Cooper',
 'A213',
 'HRV',
 '156',
 'Avanza',
 'Tiggo 7 pro',
 'Pickup',
 'City',
 'V5',
 'XC90',
 'B 180',
 'Pandino',
 'Genesis',
 'S-Type',
 'APV',
 '244',
 'Ateca',
 'Mk',
 'Veyron',
 'E 200',
 'C 180',
 'H100',
 'Voyager',
 'Town',
 'Duster Nova',
 'Baleno',
 'C4',
 'IX3',
 'Rumion',
 'Ram',
 'Alsvin',
 'Wingle 5',
 'EV6',
 'Model 3',
 'V6',
 'Juliet',
 '205',
 'Optima',
 'C3 Aircross',
 'Stelvio',
 'Compass',
 'Cooper Roadster',
 'Q35',
 'Fronx',
 'Yeti',
 'Tempra',
 'QX80',
 'Legacy',
 '500 X',
 'Saga',
 'X6',
 'T5',
 '607',
 'CRV',
 'SEL 280',
 'Yrv',
 'A7',
 'CS 15',
 'Glory Van',
 'Cascada',
 'Vectra',
 'Tipo',
 'Tiggo 8 pro e+',
 'Avensis',
 'Charade',
 'EX7',
 'Cooper Hatch',
 'Glory 330',
 'Kodiaq',
 'Juke',
 'Celerio',
 'Duster',
 'H3',
 'X6 M',
 'Discovery',
 'Equinox',
 'CS 35 Plus',
 'Panamera S',
 'X35',
 'T300',
 'Grand Santa Fe',
 'V7',
 'ZS EV',
 'Tiguan',
 'Santamo',
 'I3',
 'Jimmy',
 'Wrangler Unlimited',
 'MRV',
 'Fox',
 'Minivan',
 'CC',
 'Starlet',
 'X70',
 'X 30',
 'Musso',
 'Lodgy',
 'Z',
 'Q5',
 'Macan',
 'Tiggo 7',
 'DBX',
 '21',
 'Impreza',
 'Legend',
 'Beetle',
 'GLA',
 'Parati',
 'Laguna',
 'X Pandino',
 'A 200',
 'MCV',
 'Auris',
 'Elantra HD',
 'Tiba',
 'EAGLE 580',
 'S5',
 'Kancil',
 '200',
 'Atos',
 '180B',
 '406',
 'Sandero Step Way',
 'E-2008',
 'Dream',
 'Carnival',
 'CLA AMG',
 'Model Y',
 'C5 Aircross',
 'K900',
 'Emgrand 5',
 'Logan',
 'Cordoba',
 'Es',
 'F3R',
 'Tiburon',
 'Polonez',
 'CS 35',
 'Granta',
 'Uno',
 '301',
 'Lanos',
 'Elantra CN7',
 'Thunderbird',
 'Mokka',
 'C2',
 'X70S',
 'Imperial',
 'K5',
 '207 SW',
 'F0',
 'MDX',
 'Qubo',
 'J3',
 'G Class',
 'I20',
 'Rainbow',
 'GLK 250',
 '525',
 'Mirage',
 'Gratour',
 'Camaro',
 'Superb',
 'C Class',
 'S Presso',
 'Picanto',
 'H6',
 'Solara',
 'Ibiza',
 'C Elysee',
 'T500',
 'Sunny',
 'C-HR',
 'N-Series',
 'S 350',
 'Brava',
 'Corsa',
 'E2000',
 '740',
 'A113',
 '132',
 'XF',
 'PT Cruiser',
 'Ls',
 '405',
 'A11',
 'Jumpy',
 'Cross',
 'CLA 45 AMG',
 'CS 85',
 'Marea',
 'Maybach S500',
 '5',
 '760',
 'EcoSport',
 'Felicia combi',
 'Bronco',
 'Marsh',
 'Vantage',
 'Golf',
 'Ceed',
 'Odyssey',
 'E 230',
 'Sandero',
 'Fiesta',
 'X4M',
 'A516',
 'Nubira',
 'Range Rover Vogue',
 'Arrizo 3',
 'Grecale',
 'GS',
 'Q22',
 '626',
 'Creta',
 'Cooper',
 'Nubira 1',
 'Saipa',
 'Sx4',
 'FSV',
 'Florid',
 'CLK',
 'M50',
 'Tons2 / 2.5',
 'Emgrand X7',
 'DS5',
 'Familia',
 'Splendor',
 'Giulietta Quadrifoglio Verde',
 '695',
 'B70',
 'Tucson GDI',
 'T77 Pro',
 '218 i',
 'Kicks',
 'Grand terios',
 'Wira',
 'Pride',
 'M4',
 'foison',
 '240',
 '127',
 'E Class',
 'Tiggo 8 Pro',
 'S90',
 'I30',
 'Arrizo 5 pro',
 '440i',
 'E 240',
 'Verna',
 'N300',
 'X5',
 '560',
 'Lacetti',
 'A6',
 'C4X',
 'Octavia A5',
 'Transit',
 'Jolion',
 'Carens',
 'Belta',
 'CL Class',
 'Escalade',
 'B 150',
 'Maxima',
 'H1',
 'Han',
 'Wrangler',
 'Englon',
 'Golf 5',
 'Integra',
 '408',
 '19',
 '128',
 'Leganza',
 'TT',
 'Maybach S600',
 'Grandland',
 'T55',
 'Click',
 'Wagoneer',
 'Veloz',
 'C4 Picasso',
 'F3',
 'Bravo',
 'Kalina',
 'Arrizo 5',
 '208',
 'Pointer',
 'Range Rover Evoque',
 'Exige',
 'Z4',
 '190',
 'B 160',
 'Hover',
 'X-Type',
 '124',
 'Carry',
 'DS7',
 'Pegas',
 'Scala',
 'Focus',
 'Cayenne S',
 'E 180',
 'Q8',
 'Vitara',
 'EC 7',
 'Tivoli XLV',
 '330S',
 'Formentor',
 'A 35 AMG',
 'Grand vitara',
 'Coaster',
 'AMG GT',
 'Komodo',
 'Land Cruiser',
 'Z100',
 '418',
 'Cx 3',
 'Captiva',
 'Sentra',
 'Bluebird',
 'Teramont',
 'Maple',
 'Sonic',
 'A380',
 'XD',
 'Corolla',
 'Panda',
 'Megane',
 'Sprint',
 'Niva',
 'SIRION',
 'Tiida',
 'Viva',
 'Q7',
 'Amarok',
 'X3',
 'X95',
 'GLK 350',
 'Mira',
 '308',
 'Corsair',
 'Freelander',
 'A15',
 'GA3',
 'Navigator',
 'Astra',
 'K01',
 '6',
 'Samara',
 '146',
 'LR2',
 'Cayenne',
 'GLA 180',
 'Galant',
 'A25',
 'Cadenza',
 'Mini Van',
 'GLK 300',
 'Tons 5.5',
 'JS3',
 'Ghibli',
 'Swift Dzire',
 'Crossland',
 'GX3 Pro',
 'Pick up',
 'Adam',
 'J7',
 'T5 Evo',
 'Tucson',
 'Grand C-Max',
 'DX7',
 'Qashqai',
 'Lanos 2',
 'Gentra',
 'Corolla Cross',
 'Cressida',
 'XE',
 'Rio',
 'Kadjar',
 '504',
 'Tiggo 8',
 'Meriva',
 'Punto evo',
 '118',
 'Tiggo 2',
 '001',
 'Kuga',
 'Galloper',
 'Golf 4',
 'Accent RB',
 'CLA 180',
 'Cool Ray',
 'Fortwo',
 'Eado plus',
 'J5',
 'Tivoli',
 'Ranger',
 'Hiace',
 '325',
 'Patrol',
 'XA',
 '500 E',
 'V101',
 'Silverado',
 'Fluence',
 'E 300',
 'Eagle',
 'Skylark',
 '235',
 'JS4',
 'A13',
 'Terrain',
 'X2',
 'Benni',
 'Petra',
 'Suran',
 '2017',
 'Zaz',
 'ZX',
 'GLS',
 'Town & Country',
 'Camry',
 'Sebring',
 'Echo',
 'Mini Cooper S',
 'Sparky',
 'Optra',
 'Family',
 'Omega',
 'Xplosion',
 'Colt',
 'S 550',
 '330',
 'Golf 3',
 '106',
 '300',
 'X7',
 'Patrol safari',
 'A8',
 'Fantasia',
 '180',
 'RCZ',
 'Livina',
 'Excel',
 'Fx',
 'XC 40',
 'M12',
 'Sephia',
 'Viano',
 'C3',
 'J15',
 'Xpander',
 'Linea',
 'H530',
 'Urvan',
 'Fruits',
 'Prado',
 'XTrail',
 'MG 4',
 'ID 4',
 'Gran max',
 'Eagle pro',
 '407',
 'Rapid Spaceback',
 'Tarraco',
 'Escort',
 'S30',
 'Emkoo',
 '280',
 'T600',
 'Emgrand',
 'C8',
 'Terracan',
 'Vita',
 'Boxster S',
 'Karoq',
 'FRV',
 '230',
 'Giulietta',
 'Lancer EX Shark',
 'Accent',
 '523',
 '220',
 'Largus',
 'Touareg',
 'Ck',
 'Shahin',
 'Eclipse Cross',
 'Blazer',
 'S7',
 'Pilot',
 'CS 55',
 '121',
 'Okavango',
 'Liberty',
 '316',
 'Acadia',
 'Xceed',
 'Insignia',
 'Mini Truck',
 'M850',
 'Defender',
 'Countryman S']

In [45]:
clear_data = data.drop(['Name','Price','Color','Mileage','Brand','Model','City','Date Displayed','Automatic Transmission','Air Conditioner','Power Steering','Remote Control'],axis=1)
clear_data.head()

,Item URL,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,year,price,miles
0,https://eg.hatla2ee.com/en/car/kia/sportage/62...,186,3,9,1,1,1,1,2024,2800000,300
2,https://eg.hatla2ee.com/en/car/fiat/tipo/6286701,421,24,5,1,1,1,1,2021,1200000,131000
3,https://eg.hatla2ee.com/en/car/hyundai/Tucson-...,236,14,17,1,1,1,1,2021,2050000,125000
4,https://eg.hatla2ee.com/en/car/bmw/x1/6254123,274,82,15,1,1,1,1,2018,2050000,84000
5,https://eg.hatla2ee.com/en/car/chevrolet/optra...,809,52,2,1,1,1,1,2021,700000,75000

In [46]:
clear_data.drop(['Item URL'],axis=1,inplace=True)
clear_data.head()

,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,year,price,miles
0,186,3,9,1,1,1,1,2024,2800000,300
2,421,24,5,1,1,1,1,2021,1200000,131000
3,236,14,17,1,1,1,1,2021,2050000,125000
4,274,82,15,1,1,1,1,2018,2050000,84000
5,809,52,2,1,1,1,1,2021,700000,75000

In [47]:
data.shape

(30835, 23)

In [127]:
data.head()

,Name,Price,Color,Mileage,Brand,Model,City,Date Displayed,Automatic Transmission,Air Conditioner,...,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,year,price,miles
0,Kia Sportage 2024,"2,800,000 EGP",Dark grey,300 Km,Kia,Sportage,Tagamo3 - New Cairo,2024-02-16,Yes,Yes,...,186,3,9,1,1,1,1,2024,2800000,300
2,Fiat Tipo 2021,"1,200,000 EGP",Petroleum,"131,000 Km",Fiat,Tipo,Kafr el-Dawwar,2024-02-16,Yes,Yes,...,421,24,5,1,1,1,1,2021,1200000,131000
3,Hyundai Tucson Turbo GDI 2021,"2,050,000 EGP",Black,"125,000 Km",Hyundai,Tucson Turbo GDI,Nasr city,2024-02-16,Yes,Yes,...,236,14,17,1,1,1,1,2021,2050000,125000
4,BMW X1 2018,"2,050,000 EGP",Gray,"84,000 Km",BMW,X1,Cairo,2024-02-16,Yes,Yes,...,274,82,15,1,1,1,1,2018,2050000,84000
5,Chevrolet Optra 2021,"700,000 EGP",Blue,"75,000 Km",Chevrolet,Optra,Obour City,2024-02-16,Yes,Yes,...,809,52,2,1,1,1,1,2021,700000,75000

In [121]:
v = 0
for n,i in enumerate(data['Model']):
    if i == "Sportage":
        v = n

In [133]:
data['power_steering_classes'][v]

1

In [49]:
clear_data.corr()

,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,year,price,miles
car_model_classes,1.000000,-0.044818,-0.023732,-0.074468,0.035288,0.015235,0.033774,0.089537,-0.182555,0.039398
car_brand_classes,-0.044818,1.000000,0.051270,0.054930,-0.029886,-0.056475,-0.061807,-0.016200,-0.039905,-0.036949
color_classes,-0.023732,0.051270,1.000000,0.041292,0.056631,0.020705,-0.014678,-0.024120,0.040216,0.036356
automatic_classes,-0.074468,0.054930,0.041292,1.000000,0.525053,0.481435,0.511697,0.381029,0.281484,-0.230526
air_conditioner_classes,0.035288,-0.029886,0.056631,0.525053,1.000000,0.807539,0.824176,0.356571,0.096415,-0.043135
power_steering_classes,0.015235,-0.056475,0.020705,0.481435,0.807539,1.000000,0.801601,0.404156,0.139872,-0.046921
remote_control_classes,0.033774,-0.061807,-0.014678,0.511697,0.824176,0.801601,1.000000,0.372620,0.136126,-0.030721
year,0.089537,-0.016200,-0.024120,0.381029,0.356571,0.404156,0.372620,1.000000,0.424983,-0.176881
price,-0.182555,-0.039905,0.040216,0.281484,0.096415,0.139872,0.136126,0.424983,1.000000,-0.196567
miles,0.039398,-0.036949,0.036356,-0.230526,-0.043135,-0.046921,-0.030721,-0.176881,-0.196567,1.000000

In [82]:
clear_data = clear_data.rename(columns={'New_Price':'price'})
clear_data.head()

,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,year,miles,price
0,186,3,9,1,1,1,1,2024,300,2800000
2,421,24,5,1,1,1,1,2021,131000,1200000
3,236,14,17,1,1,1,1,2021,125000,2050000
4,274,82,15,1,1,1,1,2018,84000,2050000
5,809,52,2,1,1,1,1,2021,75000,700000

In [83]:
clear_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30835 entries, 0 to 33557
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   car_model_classes        30835 non-null  int64
 1   car_brand_classes        30835 non-null  int64
 2   color_classes            30835 non-null  int64
 3   automatic_classes        30835 non-null  int64
 4   air_conditioner_classes  30835 non-null  int64
 5   power_steering_classes   30835 non-null  int64
 6   remote_control_classes   30835 non-null  int64
 7   year                     30835 non-null  int64
 8   miles                    30835 non-null  object
 9   price                    30835 non-null  int64
dtypes: int64(9), object(1)
memory usage: 3.6+ MB

In [85]:
clear_data['Miles'] = clear_data['miles'].apply(lambda x: int(x))
clear_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30835 entries, 0 to 33557
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   car_model_classes        30835 non-null  int64
 1   car_brand_classes        30835 non-null  int64
 2   color_classes            30835 non-null  int64
 3   automatic_classes        30835 non-null  int64
 4   air_conditioner_classes  30835 non-null  int64
 5   power_steering_classes   30835 non-null  int64
 6   remote_control_classes   30835 non-null  int64
 7   year                     30835 non-null  int64
 8   miles                    30835 non-null  object
 9   price                    30835 non-null  int64
 10  Miles                    30835 non-null  int64
dtypes: int64(10), object(1)
memory usage: 3.8+ MB

In [86]:
clear_data.drop(['miles'],axis=1,inplace=True)
clear_data = clear_data.rename(columns={'Miles':'miles'})

In [87]:
X = clear_data.drop(['price'],axis=1)
y = clear_data['price']

In [88]:
from sklearn.feature_selection import SelectKBest, chi2
def feature_selection_by_num(X,y,num):
    selected_features = SelectKBest(score_func = chi2, k = num)
    X_selected = selected_features.fit_transform(X,y)
    selected = pd.DataFrame(X_selected, columns = [i for i,j in zip (X.columns, selected_features.get_support()) if j])
    selected['Output'] = y
    return selected
new2 = feature_selection_by_num(X,y,9)
new2

,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,year,miles,Output
0,186,3,9,1,1,1,1,2024,300,2800000.0
1,421,24,5,1,1,1,1,2021,131000,NaN
2,236,14,17,1,1,1,1,2021,125000,1200000.0
3,274,82,15,1,1,1,1,2018,84000,2050000.0
4,809,52,2,1,1,1,1,2021,75000,2050000.0
...,...,...,...,...,...,...,...,...,...,...
30830,258,3,15,1,0,0,0,2002,253000,650000.0
30831,702,6,17,0,0,0,0,2008,199000,90000.0
30832,518,99,6,1,0,0,0,2021,240000,430000.0
30833,562,58,17,1,1,1,1,2022,48000,280000.0
30834,620,14,6,0,0,1,1,2010,175000,NaN

In [89]:
clear_data['price'].max()

16250000

In [90]:
clear_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30835 entries, 0 to 33557
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   car_model_classes        30835 non-null  int64
 1   car_brand_classes        30835 non-null  int64
 2   color_classes            30835 non-null  int64
 3   automatic_classes        30835 non-null  int64
 4   air_conditioner_classes  30835 non-null  int64
 5   power_steering_classes   30835 non-null  int64
 6   remote_control_classes   30835 non-null  int64
 7   year                     30835 non-null  int64
 8   price                    30835 non-null  int64
 9   miles                    30835 non-null  int64
dtypes: int64(10)
memory usage: 3.6 MB

In [71]:
clear_data['New_Price'] = clear_data['price'].apply(lambda x: int(x))
clear_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30835 entries, 0 to 33557
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   car_model_classes        30835 non-null  int64
 1   car_brand_classes        30835 non-null  int64
 2   color_classes            30835 non-null  int64
 3   automatic_classes        30835 non-null  int64
 4   air_conditioner_classes  30835 non-null  int64
 5   power_steering_classes   30835 non-null  int64
 6   remote_control_classes   30835 non-null  int64
 7   year                     30835 non-null  int64
 8   price                    30835 non-null  object
 9   miles                    30835 non-null  object
 10  New_Price                30835 non-null  int64
dtypes: int64(9), object(2)
memory usage: 3.8+ MB

In [72]:
clear_data.drop(['price'],axis=1,inplace=True)

In [109]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=44, shuffle = True)

In [92]:
y_train[:20]

30157    1000000
4873     2850000
12921     485000
22889     300000
13108     345000
7134      320000
30370     475000
2419     1000030
1769     1150000
18092     400000
30054    2200000
21270    1950000
20625      58000
8628      370000
8160      850000
2550      470000
30667     285000
25809     300000
25248     700000
16620     750000
Name: price, dtype: int64

In [93]:
Model = keras.models.Sequential([
    keras.layers.Dense(8, activation = 'sigmoid'),
    keras.layers.Dense(128, activation = 'sigmoid'),
    keras.layers.Dense(64, activation = 'sigmoid'),
    keras.layers.Dense(16, activation = 'sigmoid'),
    keras.layers.Dense(1, activation = 'relu')
    ])

In [96]:
Model.compile(optimizer='adam', loss = 'mse', metrics = ['mse'])

history = Model.fit(X_train, y_train,
                    validation_data = (X_test, y_test),
                     epochs = 100,
                     batch_size = 1000,
                     verbose = 1,
                     callbacks = [tf.keras.callbacks.EarlyStopping(patience = 10,
                                                                   monitor='val_loss',
                                                                   restore_best_weights = True)]
                    )

Epoch 1/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 2028767281152.0000 - mse: 2028767281152.0000 - val_loss: 2097098522624.0000 - val_mse: 2097098522624.0000
Epoch 2/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2019806281728.0000 - mse: 2019806281728.0000 - val_loss: 2097098522624.0000 - val_mse: 2097098522624.0000
Epoch 3/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 1995377606656.0000 - mse: 1995377606656.0000 - val_loss: 2097098522624.0000 - val_mse: 2097098522624.0000
Epoch 4/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 1922649423872.0000 - mse: 1922649423872.0000 - val_loss: 2097098522624.0000 - val_mse: 2097098522624.0000
Epoch 5/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 1991605485568.0000 - mse: 1991605485568.0000 - val_loss: 2097098522624.0000 - val_mse: 2097098522624.0000
Epoch 6/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 1951164268544.0000 - mse: 1951164268544.0000 - val_loss: 2097098522624.0000 - val_mse: 2097098522624.0000
Epoch 7/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 1975825858560.0000 - mse: 1975825858560.0000 - val_loss: 2097098522624.0000 - val_mse: 2097098522624.0000
Epoch 8/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 2016464076800.0000 - mse: 2016464076800.0000 - val_loss: 2097098522624.0000 - val_mse: 2097098522624.0000
Epoch 9/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 1961861054464.0000 - mse: 1961861054464.0000 - val_loss: 2097098522624.0000 - val_mse: 2097098522624.0000
Epoch 10/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 1972842266624.0000 - mse: 1972842266624.0000 - val_loss: 2097098522624.0000 - val_mse: 2097098522624.0000
Epoch 11/100
25/25 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - loss: 1913884377088.0000 - mse: 1913884377088.0000 - val_loss: 2097098522624.0000 - val_mse: 2097098522624.0000

In [105]:
RandomForestRegressorModel = RandomForestRegressor(n_estimators=1500,max_depth=10, random_state=44)
RandomForestRegressorModel.fit(X_train, y_train)

y_pred = RandomForestRegressorModel.predict(X_test)

RandomForestRegressorModel.fit(X_train, y_train)
print(f'Train Score is : {RandomForestRegressorModel.score(X_train, y_train)}')
print(f'Test Score is : {RandomForestRegressorModel.score(X_test, y_test)}')

Train Score is : 0.9025434906003159
Test Score is : 0.8092046288593133

In [112]:
MSE = mean_squared_error(y_pred, y_test, multioutput = 'uniform_average')
MSE

223993242343.52966

In [115]:
import pickle
with open("car_prices.pk1", "wb") as f:
    pickle.dump(Model,f)

In [116]:
clear_data.head()

,car_model_classes,car_brand_classes,color_classes,automatic_classes,air_conditioner_classes,power_steering_classes,remote_control_classes,year,price,miles
0,186,3,9,1,1,1,1,2024,2800000,300
2,421,24,5,1,1,1,1,2021,1200000,131000
3,236,14,17,1,1,1,1,2021,2050000,125000
4,274,82,15,1,1,1,1,2018,2050000,84000
5,809,52,2,1,1,1,1,2021,700000,75000